<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h2>BIENVENIDO ADMINISTRADOR</h2>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <h2>BIENVENIDO USUARIO</h2>
    </Authorized>
</AuthorizeView>
